.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  background-color: #393E46;
}

h1 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 700%;
  color: #4ECCA3;
}

p {
  font-size: 300%;
  color: #4ECCA3;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 80%;
}

footer {
  margin-top: 5%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower', cursive;

}

.btn{
  padding: 2% 8%;
  margin:5% auto;
  background-color: #4ECCA3;
  border-radius: 3%;
  border-color: white;
  box-shadow: 5px 0 #232931;
  display: block;
  font-family: 'Indie Flower', cursive;
  color:white;
  font-size: 300%;

}



@media screen and (max-width: 1300px) {
  .container {
    width: 95%;
    margin: auto;
    text-align: center;
  }

  h1 {
    font-size: 500%;
  }

  .btn{
    padding: 2% 8%;
    margin:8% auto;

  }
}

@media screen and (max-width: 600px) {
  .container {
    width: 95%;
    margin: auto;
    text-align: center;
  }

  h1 {
    font-size: 350%;
  }

  p {
    font-size: 280%;
  }

  .btn{
    padding: 4% 13%;
    margin:10% auto;

  }
}
